<audio id='player'></audio>
<div class="b-player">
  <div class="b-player__controls__info">
    <div class="b-player__controls__info__artist" ng-bind-html-unsafe="currentSong().artist"></div>
    <div class="b-player__controls__info__title" ng-bind-html-unsafe="currentSong().title"></div>
  </div>

  <div class="b-player__controls__navigation">
    <div class="b-player__controls__navigation__prev">
      <div class="b-player__controls__navigation__prev-btn" ng-click="controls.prev()"></div>
    </div>

    <div
      class="b-player__controls__navigation__play"
      >
      <div
        ng-click="controls.toggle()"
        ng-show="isPaused"
        class="b-player__controls__navigation__play__play"
        ></div>
      <div
        ng-click="controls.toggle()"
        ng-hide="isPaused"
        class="b-player__controls__navigation__play__pause"
        ></div>
    </div>

    <div class="b-player__controls__navigation__next">
      <div class="b-player__controls__navigation__next-btn" ng-click="controls.next()"></div>
    </div>
  </div>

  <div class="clear"></div>
  <div class="b-player__controls__splitter"></div>

  <div class="b-player__controls__playback">
    <div
      slider="time"
      slider-update="update(progress)"
      slider-max="duration"
      class="slider b-player__controls__playback__progress"
      ></div>

    <div
      ng-class="{'b-player__controls__playback__time--left': showTimeLeft}"
      class="b-player__controls__playback__time">
      <div
        ng-bind="time | duration"
        ng-click="showTimeLeft = true"
        class="b-player__controls__playback__time__elapsed"
        ></div>
      <div
        ng-bind="(time - currentSong().duration) | duration"
        ng-click="showTimeLeft = false"
        class="b-player__controls__playback__time__left"
        ></div>
    </div>
  </div>

  <div class="b-player__controls__volume">
    <div class="b-player__controls__volume__low"></div>
    <div
      slider="volume"
      class="b-player__controls__volume__progress slider"
      ></div>
    <div class="b-player__controls__volume__high"></div>
  </div>
  <div class="clear"></div>

  <div class="b-player-search">
    <input type="search" name="search" class='b-player-search-dialog' autocomplete='off'>
  </div>

  <div class="clear"></div>
  <ul class="b-player-playlist">
    <li
      id='aid_{{song.aid}}'
      ng-class='{
          "playing": isCurrentSong($index),
          "b-player-playlist-item": true,
          "selected": isSelected($index),
          "queued": positionInsideQueue($index)
      }'
      ng-dblclick='playSong($index)'
      ng-click='setSelected($index)'
      ng-repeat='song in songs'>
      <div class="b-player-playlist-item-inner b-state">
        <span>{{positionInsideQueue($index)}}</span>
      </div>
      <div class="b-player-playlist-item-inner b-position">{{$index + 1}}</div>
      <div
        class="b-player-playlist-item-inner b-song"
        ng-bind-html-unsafe="song.artist + ' - ' + song.title"></div>
      <div class="b-player-playlist-item-inner b-duration">
        {{song.duration | duration}}
      </div>
    </li>
  </ul>
</div>
